svg {

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-icon {
  color: gray;
}

h1 {
  color: gray;
  text-align: center;
  margin: 0;
}

p {
  font-family: sans-serif;
  font-size: 30px;
}
